<% flash.each do |type, message| %>
  //  Bootstrapを導入しているため、`class="alert alert-success"`としています
  $("#added-message").html('<p class="alert alert-success"><%= type %><%= message %></p>')
  $("#result").html(users_list)
<% end %>
