<table class="table table-sm">
  <thead class="thead-light">
    <tr>
      <th>名前</th>
      <th>月額合計支出</th>
      <th>年間合計支出</th>
    </tr>
  </thead>

  <tbody class="all_cost">
    <% @users.each do |user| %>
      <% total_annual = [] %>
      <% total_monthly = [] %>
      <% user.fixed_costs.each do |fixed_cost| %>
        <% if fixed_cost.monthly_annual == "annual" %>
          <% total_annual << fixed_cost.payment %>
          <% total_monthly << monthly_payment(fixed_cost) %>
        <% elsif fixed_cost.monthly_annual == "monthly" %>
          <% total_annual << annual_payment(fixed_cost) %>
          <% total_monthly << fixed_cost.payment %>
        <% end %>
      <% end %>
      <tr>
      <td><%= link_to "#{user.name}", user_path(user.id) %></td>
      <td><%= total_monthly.sum %></td>
      <td><%= total_annual.sum %></td>
      </tr>
    <% end %>
  </tbody>
</table>
