<h1>全員の固定費</h1>
<br><br>

<table class="table table-sm">
  <thead class="thead-light">
    <tr>
      <th>名前</th>
      <th>月額合計出費</th>
      <td>年額合計金額</td>
      <td></td>
    </tr>
  </thead>

  <tbody class="all_cost">
    <% @user.each do |user| %>
      <tr>
        <td><%=  %></td>
        <td><%= @total_monthly_costs %></td>
        <td><%= @total_annual_costs %></td>
        <td><%= link_to "詳細", fixed_cost_path %></td>
      </tr>
    <% end %>
  </tbody>
</table>
