<h1>全員の固定費</h1>
<br><br>

<table class="table table-sm">
  <thead class="thead-light">
    <tr>
      <th>名前</th>
      <th>合計出費</th>
      <td></td>
    </tr>
  </thead>

  <tbody class="all_cost">
    <% @costs.each do |cost| %>
    <tr>
      <td><%= find_user(cost[0]).email %></td>
      <td><%= cost[1] %>円</td>
      <td><%= link_to "詳細", fixed_cost_path(cost[0]) %></td>
    </tr>
    <% end %>

  </tbody>
</table>
