/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
   display: flex;
   flex-flow: column;
   min-height: 100vh;
 }
 main {
   flex: 1;
   background-color: #f8f9fa;
   /* margin: 30px;   /* 外側の余白を30pxに */ */
   /* padding: 0px;   /* 内側の余白を消す */ */
   /* background-color: #ddffdd; /* 本文部分の背景色 */ */
 }
 /* .dis_login {
   flex: 1;
   min-height: 90vh;
   background-color: red;
 } */
