<div class="container-fluid">
  <h1>カテゴリー作成</h1>
  <br>
  <%= render 'form' %>
  <br>
  <table class="table table-hover table-sm">
    <thead class="thead-light">
      <tr>
        <th>登録したカテゴリー</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <% @categories.each do |category| %>
      <tbody class="category">
        <tr>
          <td><%= category.cat_name %></td>
          <td><%= link_to "編集", edit_category_path(category.id), class: 'btn btn-primary btn-sm' %></td>
          <td><%= link_to "削除", category_path(category.id), method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: "削除して良いですか？" } %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>
